* {
	box-sizing:border-box;
}

body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color:black;
}


/******************
	HEADER
********************/
	
	header {
		background-color: rgba(60, 110, 230, 0.6);
		padding-bottom: 25px;
		padding-right: 10px;
	}

	/******************
		TOP-RIGHT
	********************/
	nav {
		width: 100%;
		overflow: hidden;
		position: fixed;
		top:0;
	}

	#top-right {
		float: right;
		padding: 0;
		width: 145px;
		margin: 0;
	}

	#top-right li {
		background-color: skyblue;
		display: block;
		width: 50%;
		float:left;
	}

	#top-right li a {
		display: block;
		text-align: center;
		width: 100%;
		padding: 10px;
	}

	/******************
		TITLE & SUBTITLE
	********************/

	h1,
	h2 {
		text-align: center;
		margin: 0;
	}

	h1 {
		font-size: 80px;
		padding: 5px;
	}

/******************
	MAIN-SECTION
********************/

	/******************
		SUB-STORE-BUTTONS
	********************/
	.main-section {
		width: 80%;
		margin: 0 auto;
	}
	.sub-store-wrapper {
		overflow: hidden;
	}

	.sub-store-button {
		width: 240px;
		float: left;
		padding: 2%;
	}

	.sub-store-button a {
		display: block;
		background-color: rgba(60, 110, 230, 0.6);
		text-align: center;
		text-transform: capitalize;
		width: 100%;
		overflow: hidden;
		border: 1px solid black;
	}

	.sub-store-button img {
		max-width: 100%;
	}

	.template-wrapper {
		width: 100%;
		display: block;
		overflow: auto;
		margin: 0 auto;
	}
	.item-wrapper {
		width: 15%;
		float: left;
		margin:1%;
		height: 150px;
		overflow: hidden;
		line-height: 1.2em;
		padding:0;

	}
	.item-wrapper li span {font-weight: bolder;}


	.item {height: 150px;margin:0;padding-left: 10px; padding-top: 10px;}
	.name {font-weight: bolder;}
	.price {}
	.price span:after {content:"$";}
	.description {}
	.quality {}
	.quantity {}
	.category {}
