<section id="marketeer-section">
	<h2 class="store-title"></h2>
	<div class="item-preview">
		<div id="marketeer-store-template">
			<script id="marketeerTemplate" type="text/template">
					<ol class="item" style="background : <%= color %>">
						<li class="name"><span>Nombre:</span> <%= name %></li>
						<li class="price"><span>Precio:</span> <%= defaultPrice %></li>
						<!-- <li class="description"><span>Descripción:</span> <%= description %></li> -->
						<li class="quality"><span>Calidad:</span> <%= quality %></li>
						<li class="quantity"><span>Cantidad:</span> <%= quantity %></li>
						<li class="category"><span>Categoría:</span> <%= category %></li>
					</ol>
			</script>
		</div>
		<div class="add-to-cart-button-wrapper">
			<div class="add-to-cart-button">
				<span>Add to cart</span>
			</div>
		</div>
	</div>
	<div class="full-item-list">
		<div class="full-item-list-header">
			<h2 class="item-list-breadcrumb"></h2>
			<!-- Filter Inputs here to manipulate the list -->
			<div class="item-list-preview">
				<ul>
					<li>
						<!-- Images (Thumbnails for every Item-Object Filtered) -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>