<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Westore | The westerosi alternative to Amazon.com </title>
    <link rel="stylesheet" href="foundation-westore/css/foundation.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="foundation-westore/js/vendor/modernizr.js"></script>
  </head>
  <body>

  	<!-- Header -->
  	<div class="row">
  		<div class="large-12 medium-12 columns">
			<header>
				
				<!-- Login/Register Menus (not yet implemented) -->
				<button class="top-right">Login/Register</button>

				<!-- Westore Title -->
				<div class="row">
					<div class="large-12 medium-12 columns">
						<a href="westore.html">
							<h1>Westore</h1>
						</a>
					</div>
					<div class="large-12 medium-12 columns">
						<h2>The westerosi alternative to Amazon.com</h2>
					</div>
				</div>
			</header>
		</div>
  	</div>
	
	<!-- Main Section -->
	<div class="row">
		<div class="large-12 medium-12 columns">
			<div class="main-section" id="main-store-main">
				<ul class="sub-store-wrapper">
				
				<!-- Sub Store Buttons (Not yet implemented) -->
				<div class="row">
						<div class="large-3 medium-3 columns">
							<li class="sub-store-button" id="blacksmith">
								<a href="blacksmith.html">The Blacksmith</a>
							</li>
						</div>
						<div class="large-3 medium-3 columns">
							<li class="sub-store-button" id="herbalist">
								<a href="herbalist.html">The Herbalist</a>
							</li>
						</div>
						<div class="large-3 medium-3 columns">
							<li class="sub-store-button" id="weaponsmith">
								<a href="weaponsmith.html">The Weaponsmith</a>
							</li>
						</div>
						<div class="large-3 medium-3 columns">
							<li class="sub-store-button" id="marketeer">
								<a href="market.html">The Marketeer</a>
							</li>
						</div>
					</div>
				</ul>
				
				

				<!-- ITEM TEMPLATE -->
				<div class="row">
					<div class="template-wrapper" >
						<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" id="template-wrapper">
							<script id="itemTemplate" type="text/template">
										<div class="large-12 medium-12 columns">
											<ol class="item" style="background : <%= color %>">
												<li class="name"><span class="span-first">Name: </span><span class="span-second"><%= name %></span></li>
												<li class="price"><span class="span-first">Price: </span><span class="span-second"><%= defaultPrice %></span></li>
												<!-- <li class="description"><span class="span-first">Description: </span><span class="span-second"><%= description %></span></li>  -->
												<li class="quality"><span class="span-first">Quality: </span><span class="span-second"><%= quality %></span></li>
												<li class="quantity"><span class="span-first">Quantity: </span><span class="span-second"><%= quantity %></span></li>
												<li class="category"><span class="span-first">Category: </span><span class="span-second"><%= category %></span></li>
											</ol>
										</div>
							</script>
						</ul>
							
					</div>
				</div>


			<!-- End of main section -->
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="row">
		<div class="large-12 medium-12 columns">
			<div class="footer-wrapper">
				<!-- Footer Title -->
				<div class="row">
					<div class="large-12 medium-12 columns">
						<h2>TESTS</h2>
					</div>
				</div>
				<!-- Create an Item -->
				<div class="row">
					<div class="large-3 medium-3 columns">
						<h3>Create an Item</h3>
					</div>
					<div class="large-3 medium-3 columns end">
						<button id="createItem">Create Item</button>
					</div>
				</div>

				<!-- File Input  -->
				<div class="row">
					<div class="large-3 medium-3 columns">
						<h3>Upload a File</h3>
					</div>
					<div class="large-2 medium-2 columns end"><input type="file" id="file_input" /></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Loading vendor libs -->
	<script type="text/javascript" src="libs/jquery.js"></script>
	<script type="text/javascript" src="libs/underscore.js"></script>
	<script type="text/javascript" src="libs/backbone.js"></script>

	<!-- Loading Westore main App Elements -->
	<script type="text/javascript" src="assets/main.js"></script>
	<script type="text/javascript" src="assets/models.js"></script>
	<script type="text/javascript" src="assets/collections.js"></script>
	<script type="text/javascript" src="assets/views.js"></script>
	<script type="text/javascript" src="assets/router.js"></script>
	<script type="text/javascript" src="assets/sync.js"></script>
    
    <!-- Testing -->
    <script type="text/javascript" src="assets/testing-westore.js"></script>

    <!-- Loading Foundation -->
    <script type="text/javascript" src="foundation-westore/js/foundation.min.js"></script>

    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>